<% layout("./layout/boilerplate.ejs") %>
<div class="container">
    <% if(error.length > 0) { %>
        <p>
            <%=error%>
        </p>
     <% } %>
    <% if(message.length > 0) { %>
        <p>
            <%=message%>
        </p>
     <% } %>

    <%if(newuser){ %>
      <p><%=newuser%></p>
    <%}%>
    
</div>